@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: linear-gradient(45deg, #3c00ff, rgb(193, 127, 255));
    background-repeat: no-repeat;
    min-height: 100vh;
    min-width: 99vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

main.container {
    background: white;
    min-width: 60vh;
    min-height: 50vh;
    padding: 2rem;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

main h2 {
    font-weight: 600;
    margin-bottom: 2rem;
    position: relative;
}

main h2::before {
    content: '';
    position: absolute;
    height: 4px;
    width: 100%;
    bottom: -10px;
    left: 0;
    border-radius: 8px;
    background: linear-gradient(45deg, #3c00ff, rgb(193, 127, 255));
}

textarea {
    font-family: sans-serif;
    font-size: 1em;
    border-radius: 10px;
    padding: 0.6rem 1.3rem;
}

.field {
    position: relative;
}

form .field:first-child {
    margin-bottom: 1.5rem;
}

.field .underline {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: -10px;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
}

.field .campo {
    outline: none;
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.7);
    width: 100%;
}

.field .campo::placeholder {
    color: rgba(0, 0, 0, 0.5);
}

input[type="button"] {
    margin-top: 2rem;
    padding: 0.4rem;
    width: 30%;
    background: #8072ff;
    cursor: pointer;
    color: white;
    font-size: 0.9rem;
    font-weight: 300;
    border-radius: 4px;
    transition: all 0.3s ease;
}

input[type="button"]:hover {
    background: rgb(193, 127, 255);
    cursor: pointer;
    letter-spacing: 0.5px;
    transition: all 0.3s ease;
}
